.filtersdiv{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(209, 23%, 22%);
}


@media only screen and (max-width:500px){
    .filtersdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}