.header{
    background-color: hsl(208, 25%, 26%);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.header span{
    background-color: hsl(208, 25%, 26%);
}

